
body {
    background-color: #f2f2f2; 
    font-family: Arial, sans-serif;
}


#cuerpo_suma {
    background-color: #ffffff; 
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc; 
    border-radius: 5px;
    
}

input[type="number"] {
    width: 80px;
    padding: 5px;
    border: 1px solid #ccc; 
    border-radius: 3px;
    width: 25%;
    padding: 13px 24px;
}

button {
    background-color: #666; 
    color: #fff; 
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #444; 
}


#resultado {
    font-size: 18px;
    font-weight: bold;
}

#suma label {
    color: #033b35;
    display: block;
    font-size: 0.95em;
    margin-bottom: 5px;
    padding: 13px 24px;
}


